<% layout('layouts/boilerplate') %>

<div class="container my-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 class="mb-4 text-center">Create a New Listing</h3>

      <form method="POST" action="/listings" novalidate  class="needs-validation" enctype="multipart/form-data">
        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input id="title" name="listing[title]" placeholder="Enter title" type="text" class="form-control" required/>
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="listing[description]" class="form-control" required></textarea>
          <div class="invalid-feedback">please enter a short description</div>
        </div>

        <!-- Image -->
        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input id="image" name="listing[image][url]" placeholder="Enter image URL/Link" type="text" class="form-control" />

        </div> -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input id="image" name="listing[image][url]"  type="file" class="form-control" />
           required
        </div>

        <!-- Price -->
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input id="price" name="listing[price]" placeholder="Enter price" type="number" class="form-control" required />
          <div class="invalid-feedback">Enter valid amount</div>
        </div>

        <!-- Country & Location in same row -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="country" class="form-label">Country</label>
            <input id="country" name="listing[country]" placeholder="Enter country" type="text" class="form-control" required />
            <div class="invalid-feedback">please enter the valid country name</div>
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">Location</label>
            <input id="location" name="listing[location]" placeholder="Enter location" type="text" class="form-control" required />
            <div class="invalid-feedback">please enter the valid location name</div>
          </div>
        </div>

        <!-- Submit button -->
        <div class="text-center">
          <button class="btn btn-dark px-4 add-btn">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
